div#wpwrap{
	overflow-x: hidden;
	min-width: 900px;
}
#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu, #adminmenu .wp-submenu-wrap, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
	width:200px;
}
div#wpcontent, div#footer{
	margin-left:220px;
}
div#normal-sortables{
	min-height: 20px !important;
}
li#wp-admin-bar-new-content, li#wp-admin-bar-comments, li#collapse-menu{
	display:none;
}
#adminmenu li .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
	left: 201px !important;
}
#adminmenu li.wp-menu-open .wp-submenu{
	left: 0px !important;
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
    -moz-transform: translate(200px) !important;
}
div.wp-menu-arrow{
	right: 145px !important;
}


/* MENU COLORS */
a.menu-top{
	padding: 5px 10px !important;
}
a.menu-top, div.wp-submenu li a{
	color: #333333 !important;
}
div.wp-submenu li a.current{
	background: #CCCCCC !important;
}
a.wp-has-current-submenu{
	color: #FFFFFF !important;
}


div#dashboard_right_now div.versions{
	display:none;
}

div#dashboard_right_now{
	min-height: 180px;
}

.postbox-container .meta-box-sortables.empty-container, #side-sortables.empty-container{
	border: 0px !important;
}
